.not-found {
  text-align: center;
  font-size: 62px;
  font-weight: bold;
}

.not-found__img {
  max-width: 1800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width <= 1200px) {
  .not-found {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
  }
}

@media (width <= 768px) {
  .not-found {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
}
